<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ly.mapper.BackDemandAuditMapper">
	<sql id="field">
		id,
		store_name,
		channel_code,
		store_shopowner_phone,
		store_shopowner_name,
		materialContent,
		materialNumber,
		isdelete,
		report_time,
		examine_time,
		examine_one_time,
		expanding_demand,
		examine,
		examine_reason,
		examine_one_phone,
		examine_one_name,
		examine_two_phone,
		examine_two_name
	</sql>

	<select id="getCount" parameterType="java.util.Map" resultType="int">
		SELECT COUNT(1) FROM mkl_store_demand
		<where>
			isdelete = 0
			<if test="dataState != null and dataState != '' and  dataState==0">
				AND (examine = 0 or examine=3 or examine=4)
			</if>
			<if test="dataState != null and dataState != '' and  dataState==1">
				AND examine = 1 
			</if>
			<if test="dataState != null and dataState != '' and  dataState==2">
				AND examine = 2
			</if>
			<if test="startTime != null and startTime != ''">
				AND UNIX_TIMESTAMP(report_time) <![CDATA[>=]]> UNIX_TIMESTAMP(#{startTime})
			</if>
			<if test="endTime != null and endTime != ''">
				AND UNIX_TIMESTAMP(report_time) <![CDATA[<=]]> UNIX_TIMESTAMP(#{endTime})
			</if>
		</where>
	</select>
	
	<select id="getList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT <include refid="field"/> FROM mkl_store_demand
		<where>
			isdelete = 0
			<if test="dataState != null and dataState != '' and  dataState==0">
				AND (examine = 0 or examine=3 or examine=4)
			</if>
			<if test="dataState != null and dataState != '' and  dataState==1">
				AND examine = 1 
			</if>
			<if test="dataState != null and dataState != '' and  dataState==2">
				AND examine = 2
			</if>
			<if test="startTime != null and startTime != ''">
				AND UNIX_TIMESTAMP(report_time) <![CDATA[>=]]> UNIX_TIMESTAMP(#{startTime})
			</if>
			<if test="endTime != null and endTime != ''">
				AND UNIX_TIMESTAMP(report_time) <![CDATA[<=]]> UNIX_TIMESTAMP(#{endTime})
			</if>
		</where>
		ORDER BY report_time DESC
		LIMIT #{start}, #{size}
	</select>
	
	<update id="updateAuditData" parameterType="java.util.Map">
		UPDATE mkl_store_demand
		<set>
			examine_time = #{examine_time},
			examine = #{examine},
			examine_two_phone = #{userName},
			examine_two_name = #{realName},
			<if test="examine_reason != null and examine_reason != ''">
				examine_reason = #{examine_reason}
			</if>
		</set>
		WHERE id in
		<foreach item="item" index="index" collection="checkDatas" open="(" separator="," close=")">
			#{item}
		</foreach>
	</update>
	
	<select id="getById" resultType="java.util.Map">
		SELECT store_shopowner_phone FROM mkl_store_demand 
		WHERE id in
		<foreach index="index" item="item" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
		GROUP BY store_shopowner_phone
	</select>
	
	<select id="getByState" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT <include refid="field"/> FROM mkl_store_demand
		WHERE examine = 1
		<if test="startTime != null and startTime != ''">
			AND UNIX_TIMESTAMP(report_time) <![CDATA[>=]]> UNIX_TIMESTAMP(#{startTime})
		</if>
		<if test="endTime != null and endTime != ''">
			AND UNIX_TIMESTAMP(report_time) <![CDATA[<=]]> UNIX_TIMESTAMP(#{endTime})
		</if>
	</select>
	<!-- 更新用户信息 -->
	<select id="getPassInfo" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT m.materialContent,
				m.materialNumber,
				msi.*
			from mkl_store_demand m
		LEFT JOIN (
		SELECT m.store_name,
			m.store_address,
			m.store_shopowner_name,
			m.store_shopowner_phone,
			mv.vendor_name,
			m.store_latitude,
			m.store_longitude,
			m.channel_code
			FROM mkl_store_info m,
			mkl_vendor mv
		where 1=1
		and m.vendor_id = mv.id
		) msi
		ON m.channel_code = msi.channel_code
		where 1=1
		and m.id in 
		<foreach item="item" index="index" collection="checkDatas" open="(" separator="," close=")">
					#{item}
		</foreach>
		
	</select>
	
	<!-- 维护订单表的数据 -->
	<insert id="addOrderInfo" parameterType="java.util.Map">
		INSERT INTO mkl_mail_info
		(id, 
		shipperName,
		shipper, 
		groupId, 
		store, 
		address, 
		consignee, 
		phone, 
		brand, 
		createTime, 
		materialContent, 
		materialNumber, 
		store_longitude,  
		store_latitude, 
		channel_code)
		VALUES 
		<foreach item="ls" index="index" collection="list" separator=",">
		(
		#{ls.id},
		#{ls.shipperName},
		#{ls.shipper},
		#{ls.groupId},
		#{ls.store_name},
		#{ls.store_address},
		#{ls.store_shopowner_name},
		#{ls.store_shopowner_phone},
		#{ls.vendor_name},
		#{ls.createTime},
		#{ls.materialContent},
		#{ls.materialNumber},
		#{ls.store_longitude},
		#{ls.store_latitude},
		#{ls.channel_code}
		)
		</foreach>		
	</insert>
</mapper>