<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ly.mapper.LogisticsOrderMapper">


    <!-- 查询所有的订单 -->
    <select id="findOrderlist" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT * FROM mkl_mail_info mmi
        <where>AND isDelete=0
            AND mmi.courierPhone is NOT NULL
            <if test="state!=null and state==0"></if>
            <if test="state!=null and state==1 ">and (state=0 or state=1)</if>
            <if test="state!=null and state==2">and state=4</if>
            <if test="state!=null and state==3">and (state=5 or state=6 )</if>
            <if test="state!=null and state==4">and (state=2 or state=3 )</if>
            <!-- <if test="state!=null and state!=''and state='4' ">and (state=7 or state=8 or state=9) limit #{start}, #{size}</if> -->
        </where>
        ORDER BY mmi.shipTime DESC
        limit #{start}, #{size}
    </select>

    <!-- 查询列表分页的数量 -->
    <select id="findOrdercount" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT count(*) FROM mkl_mail_info
        <where>
            1=1
            and isDelete=0
            <if test="state!=null and state==0"></if>
            <if test="state!=null and state==1">and (state=0 or state=1)</if>
            <if test="state!=null and state==2 ">and (state=2 or state=3 or state=4)</if>
            <if test="state!=null and state==3 ">and (state=5 or state=6)</if>
            <!-- <if test="state!=null and state!=''and state='4' ">and (state=7 or state=8 or state=9) limit #{start}, #{size}</if> -->
        </where>
    </select>

    <!-- 根据电话查询所有订单 -->
    <select id="getSearchPhone" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT * FROM mkl_mail_info
        <where>
            1=1
            and isDelete=0
            <if test="phone!=null and  phone!=''">
                and (shipper like concat(concat(#{phone}),'%') OR courierPhone like concat(concat(#{phone}),'%')
                or phone like concat(concat(#{phone}),'%') OR id like concat(concat(#{phone}),'%'))
            </if>
            limit #{start}, #{size}
        </where>

    </select>
    <!-- 查询所有未派送的订单 -->
    <select id="getSearchCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT count(*) FROM mkl_mail_info
        <where>
            1=1
            and isDelete=0
            <if test="phone!=null and  phone!=''">and (shipper=#{phone} OR courierPhone=#{phone} or phone=#{phone} or
                id=#{phone})
            </if>
        </where>
    </select>

    <!--批量删除-->
    <update id="deleteLogistics" parameterType="java.lang.Integer">
			UPDATE mkl_mail_info SET 
			isDelete = '1'
			WHERE id = #{id};
	</update>

		<!-- 批量配送 -->
    <update id="distribution" parameterType="java.util.Map" >
			UPDATE mkl_mail_info SET 
			state='2',
			shipTime = #{shipTime}
			WHERE FIND_IN_SET (id,#{ids})
	</update>

    <!-- 修改订单 -->
    <update id="updateLogistics" parameterType="java.util.Map">
					UPDATE mkl_mail_info SET
					courierPhone=#{courierPhone},
					courierName=#{courierName},
					consignee=#{consignee},
					phone=#{phone},
					materialContent=#{materialContent},
					materialNumber=#{materialNumber}
        		    where id=#{id}
	</update>

    <!--获取收获目的地坐标-->
    <select id="getDisplayMap" parameterType="java.util.Map" resultType="java.util.Map">
				SELECT * FROM mkl_courier_store WHERE logistics=#{id} AND courier_Phone=#{courier_Phone}
	</select>


    <!--获取订单信息-->
    <select id="getDisplayMap1" parameterType="java.util.Map" resultType="java.util.Map">
				SELECT * FROM mkl_mail_info WHERE id=#{id} AND courierPhone=#{courier_Phone} AND isDelete =0
	</select>


    <select id="findByLogistics" parameterType="java.lang.String" resultType="java.util.Map">
				SELECT * FROM mkl_mail_info WHERE id=#{id} AND isDelete =0
	</select>



    <!--下载清单  -->
    <select id="findlogisticslist" resultType="java.util.Map">
				SELECT * FROM mkl_mail_info WHERE (state=5 or state=6) AND isDelete =0
			</select>

    <!-- 获取到快递员的信息 -->
    <select id="getcourierName" parameterType="java.lang.String" resultType="java.util.Map">
			SELECT * from sys_account sa
			where 1=1
			and sa.accountName = #{courierName}
			and sa.auth_flag = '2'
			and sa.accountType = '2'
	</select>

    <!-- 根据渠道编码获取到渠道信息 -->
    <select id="getChannel" parameterType="java.lang.String" resultType="java.lang.Integer">
			select count(1) from mkl_store_info msi
			where 1=1
			and msi.channel_code = #{channel_code}
		</select>

    <!-- 添加订单信息 -->
    <insert id="addOrderInfo" parameterType="java.util.List">
        INSERT INTO mkl_mail_info(
        id,
        materialNumber,
        groupId,
        phone,
        store,
        brand,
        materialContent,
        courierPhone,
        address,
        shipperName,
        consignee,
        shipper,
        channel_code,
        courierName,
        createTime,
        predictTime
        )VALUES
        <foreach collection="list" separator="," item="ls">
            (
            #{ls.id},
            #{ls.materialNumber},
            #{ls.groupId},
            #{ls.phone},
            #{ls.store},
            #{ls.brand},
            #{ls.materialContent},
            #{ls.courierPhone},
            #{ls.address},
            #{ls.shipperName},
            #{ls.consignee},
            #{ls.shipper},
            #{ls.channel_code},
            #{ls.courierName},
            #{ls.createTime},
            #{ls.predictTime}
            )
        </foreach>
    </insert>

    <select id="checkcourierPhoneService" parameterType="java.lang.String" resultType="java.lang.Integer">
			SELECT count(1) from sys_account s
			where 1=1
			and s.accountType = '2'
			and s.accountName = #{phone}
		</select>


    <select id="findOrderOfNullNum" resultType="java.lang.Integer">
			SELECT count(*) FROM mkl_mail_info m
			where 1=1
			and m.isDelete = '0'
			and m.courierPhone is null
	</select>

    <!-- 查询快递员信息为空的列表信息 -->
    <select id="findOrderOfNulllist" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT * from mkl_mail_info m
		where 1=1
		and m.isDelete = '0'
		and m.courierPhone is null
		limit #{start1}, #{size1}
		</select>

    <!-- 查询出快递公司信息 -->
    <select id="getCompany" resultType="java.util.Map">
			SELECT * from mkl_express_company m
		where  1=1
		and m.delete_flag = '0'
		</select>

    <select id="getCourierLs" resultType="java.util.Map">
        SELECT * from sys_account s
        where 1=1
        and s.accountType = '2'
        and s.auth_flag = '2'
        and s.company in
        <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <!-- 获取快递员的姓名 -->
    <select id="getCourierName" parameterType="java.lang.String" resultType="java.lang.String">
			SELECT s.real_name from sys_account s
			where 1=1
			and s.auth_flag = '2'
			and s.accountName =#{phone}
		</select>

    <!-- 最少订单快递员 -->
    <select id="getMixOrderNum" resultType="java.util.Map">


        SELECT MIN(C.num),
        C.accountName as phone
        from
        (
        SELECT A.accountName, IFNULL(B.con,0) as 'num' FROM
        (
        SELECT * FROM sys_account WHERE accountName in
        <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        ) A LEFT JOIN
        (
        SELECT COUNT(courierPhone) AS con, courierPhone FROM mkl_mail_info WHERE courierPhone in('13545675856',
        '13523698563')
        ) B
        ON A.accountName = B.courierPhone
        where 1=1
        GROUP BY A.accountName
        )C
        <!-- SELECT MIN(A.num),
        A.phone
        from
        (SELECT count(1) as 'num',
                    m.phone	from mkl_mail_info m
                    where 1=1
                    and m.isDelete = '0'
                    and m.state not in (
                    '6',
                    '7'
                    )
                    and m.courierPhone in
                    <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
                         #{item}
                    </foreach>
        GROUP BY m.courierPhone
        ) A -->
    </select>

    <!-- 完善订单信息，并派送 -->
    <update id="finishOrder" parameterType="java.util.Map">
		UPDATE mkl_mail_info 
		SET courierPhone = #{courierPhone},
			courierName = #{courierName},
			shipTime = #{shipTime},
			state = '2'
		WHERE id = #{id}
		</update>
</mapper>
